.error-rescue {
  color: red;
  font-weight: bold;
}

.rescue-value-total{
  margin-top: 10px;
  margin-left: 10px;
}

.title-dados {
  margin-top: 10px;
}

.name {
  margin-block: auto;
}

.header-grid {
  text-align: initial;
}

.align-grid {
  text-align: initial;
}

.value-rescue {
  margin-left: 12px;
}

.icon-rescue {
  margin-top: 14px;
  margin-right: 4px;
}