<div class="container">
  <br/>
  <div class="col-md-12">
    <h2 class="title-project">DADOS DO INVESTIMENTO</h2>
    <div class="card shadow">
      <div class="d-flex justify-content-between justify-content-center">
        <div class="col-md-4">
          <div class="d-flex">
            <mat-icon class="icon-rescue">person</mat-icon>
            <span>
              <i class="icon-doc"></i>
            </span> 
            <div class="title-dados">
              <p class="name">NOME</p>
              <p>{{investimento?.nome}}</p>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="d-flex">
            <mat-icon class="icon-rescue">trending_up</mat-icon>
            <div class="title-dados">
              <p class="name">OBJETIVO</p>
              <p>{{investimento?.objetivo}}</p>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="d-flex">
            <mat-icon class="icon-rescue">paid</mat-icon>
            <div class="title-dados">
              <p class="name">SALDO TOTAL</p>
              <p>{{investimento?.saldoTotal | currency: 'BRL'}}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <h2 class="title-project mt-3">RESGATE</h2>
    <div class="card shadow">
      <table class="table table-hover text-center">
        <thead>
          <tr class="header-grid">
            <th>AÇÃO</th>
            <th>SALDO ACUMULADO</th>
            <th>VALOR A RESGATAR</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let acao of investimento?.acoes; let i = index" class="align-grid">
            <td>{{acao.nome}}</td>
            <td>{{ (investimento.saldoTotal * acao.percentual / 100) | currency: 'BRL' }}</td>
            <td>
              <input type="text" [(ngModel)]="resgate[i]" currencyMask style="width: 280px;"
                    [options]="{ prefix: 'R$ ', thousands: '.', decimal: ',' }" class="text-left">
              <br>
              <span class="error-rescue"
                    *ngIf="temErroResgate(i)">O valor a resgatar não pode ser maior que {{saldosAcumulados[i] | currency: 'BRL' }}</span>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="card shadow">
      <br/>
      <div class="value-rescue">
        <p>
          Valor total do resgate: {{calculoResgate() | currency: 'BRL' }}
        </p>
      </div>
    </div>
    <div class="float-right">
      <button class="button-confirm" (click)="openModal()">CONFIRMAR RESGATE</button>
    </div>
    <div class="float-right">
      <button class="button-close" (click)="backFromList()">CANCELAR</button>
    </div>
  </div>
</div>


