@font-face {
  font-family: 'Silka';
  src: url('assets/fonts/silka-regular-webfont.ttf') format('opentype')
}

@font-face {
  font-family: 'Silka-Bold';
  src: url('assets/fonts//silka-bold-webfont.ttf') format('opentype')
}

a {
  cursor: pointer;
}

.container-fluid {
  padding: 20px;
}

.title-project {
  font-family: Silka;
  font-style: normal;
  font-weight: 500;
  font-size: 19px;
  line-height: 20px;
  color: #000B1C;
}

.card {
  border: 0;
  border-radius: 10px;
  margin-bottom: 20px;
  min-width: 100vh !important;
}

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Silka, "Helvetica Neue", sans-serif;
  background-color: rgb(233, 233, 233) !important;
}

input, select, textarea, button, a, li {
  outline: none !important;
}

.font-weight-bold {
  font-family: 'Silka-Bold';
}

.button-confirm {
  margin-left: 3px;
  background: dodgerblue;
  color: #ffffff;
  border: solid 1px dodgerblue;
  border-radius: 5px;
  font-family: 'Silka';
  padding: 7px 30px;

  &:hover {
    cursor: pointer;
  }
}

.button-close {
  margin-left: 3px;
  background: gray;
  color: #ffffff;
  border: solid 1px black;
  border-radius: 5px;
  font-family: 'Silka';
  padding: 7px 30px;

  &:hover {
    cursor: pointer;
  }
}

.button3 {
  background: dodgerblue;
  color: #ffffff;
  border: dashed 4px white;
  font-family: 'Silka';
  border-radius: 5px;
  padding: 7px 30px;

  transition: color 0.25s ease-in-out, background-color 0.25s ease-in-out,
  border-color 0.25s ease-in-out, box-shadow 0.25s ease-in-out;

  &:hover {
    border: dashed 4px dodgerblue;
    background: #ffffff;
    color: dodgerblue;
  }
}
